<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.url == '/' %}Albert Cornelissen{% elsif page.post_title %}{{ page.post_title | escape }} / Albert Cornelissen{% elsif page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M' }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.url == '/' %}Albert Cornelissen{% elsif page.post_title %}{{ page.post_title | escape }}{% elsif page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  {%- if page.gallery_id %}
  {%- assign og_gallery = site.data.galleries | where: "id", page.gallery_id | first %}
  {%- assign og_image = page.photo | default: og_gallery.cover %}
  <meta property="og:image" content="{{ og_gallery.dir | append: og_image | absolute_url }}">
  {%- endif %}
  
</head>
